.events .item {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.events hr.top {
  border: 2px solid blue;
  width: 100%;
}

.events hr.between {
  border-color: rgba(100, 100, 100, 0.1);
  margin: 24px 0 8px 0;
}

.events .spacer {
  width: 24px;
}

.events .name {
  width: 300px;
  height: 120px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.events .name h2 {
  color: #fefefe;
  line-height: 120px;
  margin: 0;
}

.events .info {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events .info .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events .info .date {
  display: inline-block;
}

.events .info .location {
  display: inline-block;
}

.events .info .date div:nth-of-type(1) {
  font-weight: bold;
}

.events .info .avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: rgb(27, 146, 12);
  color: #eee;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}

.events .description .more {
  cursor: pointer;
  color: #ebca0f;
}

.events .booking {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
