.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: #ebca0f;
  color: #efefef;
  border: none;
  border-radius: 2px;
  padding: 3px 9px;
  font-size: 10pt;
  font-weight: bold;
}